# Node modules
node_modules/

# Build output
dist/
build/
*.log

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Test result of playwright
test-results/

# Test coverage
coverage/

# Output from Vitest or Jest
*.coverage.*
*.snap

# Optional lock file
yarn.lock
package-lock.json
pnpm-lock.yaml
